@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blinking-cursor:after {
  content: "|";
  @apply text-blue-900;
  animation: blink 1s step-start infinite;
}

.bold {
  font-weight: bold;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@font-face {
  font-family: "sourcecodeproL";
  src: url("../public/SourceCodePro-LightIt.otf");
}

@font-face {
  font-family: "sourcecodepro";
  src: url("../public/SourceCodePro-ExtraLight.otf");
}

@font-face {
  font-family: "sourcecodeproM";
  src: url("../public/SourceCodePro-Regular.otf");
}

@font-face {
  font-family: "sourcecodeproB";
  src: url("../public/SourceCodePro-Semibold.otf");
}
